p {

/*Content - Width and Height*/

width: 50%;
/*Border*/

border: 2px solid blue;

/*Padding*/

/*padding: 10px;*/
padding-left: 40px;

/*Margin*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/*margin: 20px 40px 500px 100px;*/
/*margin: 0 auto 0 auto;*/
margin: 0 auto;
margin: 50px 20px;
}

table{
    width: 50%;
    /* border: 2px solid red; */
}

td{
    width: 100px;
    height: 100px;
}


#ul{
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    margin: 0px;
}

#um{
    /* border-right: 1px solid green; */
    border-bottom: 1px solid green;
    margin: 0px;
}

#ur{
    border-left: 1px solid green;
    border-bottom: 1px solid green;
    margin: 0px;
}

#mr{
    border-left: 1px solid green;
    /* border-bottom: 1px solid green; */
    margin: 0px;
}

#mm{
    /* border: 1px solid green; */
    margin: 0px;
}

#ml{
    border-right: 1px solid green;
    margin: 0px;
}


#ll{
    border-right: 1px solid green;
    border-top: 1px solid green;
    margin: 0px;
}

#lm{
    border-top: 1px solid green;
    margin: 0px;
}

#lr{
    border-left: 1px solid green;
    border-top: 1px solid green;
    margin: 0px;
}
